* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ========= Common ============= */
a {
    text-decoration: none;
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    border-radius: 12px;
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.btn:hover {
    opacity: 0.9;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ========= Header ============= */
.header {
    background: #e6f0ff;
    height: 100vh;
    position: relative;
    margin-bottom: 79px;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
}

.navbar ul {
    display: flex;
    margin-left: 50.47px;
}

.navbar ul a {
    color: #4f5361;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 8px 14px;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .actions {
    margin-left: auto;
}

.navbar .action-link {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
}

.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

.hero {
    margin-top: 130px;
}

.hero .info {
    width: 51%;
}

.hero .sub-title {
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.018rem;
}

.hero .title {
    color: #000336;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.19; /* 118.75% */
    margin-top: 8px;
}

.hero .desc {
    margin-top: 30px;
    color: #5a6473;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78; /* 177.778% */
}

.hero-cta {
    min-width: 170px;
    margin-top: 40px;
}

.hero-img {
    position: absolute;
    right: calc((100% - 1110px) / 2 - 100px);
    bottom: 0;
}

/* ========= Clients ============= */
.clients {
    padding-top: 43px;
    padding-bottom: 41px;
    margin-bottom: 40px;
}

.clients .row {
    display: flex;
    justify-content: space-between;
}

.clients .row-desc {
    margin-top: 23px;
}

.clients .row-desc p {
    color: #7d8589;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
}

.clients .images {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clients .images a {
    display: flex;
    align-items: center;
    height: 90px;
    padding: 0 42px;
    border-radius: 12px;
}

.clients .images a:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

/* ========= Guides ============= */
.guide {
    padding-top: 93px;
    padding-bottom: 79px;
    margin-bottom: 41px;
}

.guide .sub-title {
    position: relative;
    color: #000339;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.guide .sub-title::before {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.guide .desc {
    width: 459px;
    max-width: 100%;
    margin: 20px auto 0;
    color: #5a6473;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88; /* 187.5% */
}

.list-guide {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    gap: 140px;
}

.guide-item {
    text-align: center;
}

.guide-item .title {
    margin-top: 26px;
    color: #3b3c45;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1; /* 110% */
}

.guide-item .link {
    display: inline-block;
    margin-top: 10px;
    color: #0689ff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}

.guide-item .arrow {
    margin-left: 5px;
}

.guide-cta {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.guide-cta .btn {
    min-width: 170px;
    font-size: 1.3rem;
}

/* ========= Featured ============= */
.featured {
    padding-top: 110px;
    padding-bottom: 110px;
    background: #f5fafe;
}

.featured .sub-title {
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
}

.featured .row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.featured .row .desc {
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88; /* 187.5% */
}

.featured .row .link {
    display: flex;
    align-items: center;
    color: #0689ff;
    font-size: 1.8rem;
    font-weight: 600;
}

.featured .row .arrow {
    margin-left: 8px;
}

.featured-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 68px;
}

.featured-list .item {
    flex: 1;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 65px 80px -46px rgba(226, 238, 249, 0.6);
}

.featured-list .thumbnail {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured-list .body {
    padding: 17px 20px 22px;
}

.featured-list .title a {
    color: #000339;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
}

.featured-list .item .desc {
    margin-top: 11px;
    color: #a3a6ab;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    word-break: break-all;
}

.featured-list .info {
    display: flex;
    align-items: center;
    margin-top: 21px;
}

.featured-list .info .label {
    margin-left: 8px;
    color: #4d4d52;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.01em;
}

.featured-list .info .icon:not(:first-child) {
    margin-left: 22px;
}

/* ========= Stats ============= */
.stats {
    margin-top: 75px;
    padding: 50px 0;
}

.stats .content {
    width: 1017px;
}

.stats .row {
    display: flex;
}

.stats .row .img-block,
.stats .row .info {
    width: 50%;
}

.stats .img-block {
    position: relative;
}

.stats .row .img-block .image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    border-radius: 12px;
    object-fit: cover;
}

.stats .stats-trend {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    padding: 45px 22px 40px;
    width: 239px;
    border-radius: 0 0 12px 12px;
}

.stats .stats-trend .row {
    justify-content: space-between;
    align-items: center;
}

.stats .stats-trend .value {
    color: #000339;
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: 0.01em;
}

.stats .stats-trend .desc {
    margin-top: 8px;
    color: #a7a7a7;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5; /* 150% */
}

.stats .stats-trend .separate {
    height: 1.2px;
    background: #e9e9e9;
    margin-top: 25px;
}

.stats .stats-trend .avatar-block {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 14px;
    margin-top: 26px;
}

.stats .stats-trend .avatar-group {
    display: flex;
}

.stats .stats-trend .avatar {
    width: 16px;
    height: 16px;
    margin-left: -3px;
    border-radius: 50%;
    object-fit: cover;
    line-height: 16px;
    text-align: center;
    background: var(--bg-color, #1f3bb1);
    color: #fff;
    font-size: 0.7261rem;
    font-weight: 450;
    letter-spacing: -0.0145rem;
}

.stats .stats-trend .avatar:first-child {
    margin-left: 0;
}

.stats .row .info {
    padding: 79px 0 0 165px;
}

.stats .row .info .sub-title {
    position: relative;
    width: 269px;
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.29;
}

.stats .row .info .sub-title::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.stats .row .info .desc {
    width: 309px;
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88;
    margin-top: 20px;
}

.stats .row-qty {
    margin-top: 110px;
    padding: 0 32px;
    justify-content: space-between;
}

.stats .quantity-item .value {
    color: #000;
    font-size: 6.4rem;
    font-weight: 600;
}

.stats .quantity-item .desc {
    margin-top: 24px;
    color: #7b8087;
    font-size: 1.8rem;
    font-weight: 500;
}

/* ========= Subscription ============= */
.subscription {
    margin-top: 90px;
    padding-top: 39px;
}

.subscription .body {
    position: relative;
    display: flex;
    align-items: center;
    height: 370px;
    border-radius: 20px;
    background: #063183;
}

.subscription .info {
    width: 671px;
    padding: 0 80px;
}

.subscription .title {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.5;
}

.subscription .desc {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88; /* 187.5% */
    margin-top: 15px;
    opacity: 0.75;
}

.subscription .btn {
    min-width: 151px;
    color: #002366;
    font-size: 1.3rem;
    background: #fff;
    margin-top: 20px;
}

.subscription .image {
    position: absolute;
    bottom: 0;
    right: 221px;
}

/* ========= Footer ============= */
.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
}

.footer .row {
    display: flex;
}

.footer .row-top {
    gap: 185px;
}

.footer .heading {
    color: #1c1c1d;
    font-family: Lato;
    font-size: 2rem;
    font-weight: 700;
}

.footer .list,
.footer .desc {
    margin-top: 42px;
}

.footer .item {
    margin-top: 18px;
}

.footer .item a,
.footer .desc {
    color: #7a7a7e;
    font-size: 1.6rem;
    font-weight: 400;
    white-space: nowrap;
}

.footer .desc {
    white-space: normal;
    line-height: 1.75; /* 175% */
}

.footer .social-media {
    display: inline-block;
    margin-top: 40px;
}

.footer .row-bottom {
    margin-top: 81px;
    align-items: center;
    justify-content: space-between;
}

.footer .copyright {
    color: #c2c2c2;
    font-size: 1.4rem;
    font-weight: 400;
}
